
.container {
  padding-top: 80px;
}

.event-info{
  margin-left: 2rem;
}

.event-img{
  width: 250px;
  height: 160px;
  object-fit: cover;
}

.date-text{
  color: #DD571C;
  font-weight: 600;
}

.title-text{
  color: #061E45;
  font-weight: 600;
}

.creator-text, .location-text{
  font-size: medium;
}

.creator-icon, .location-icon{
  margin-right: 5px;
}

.btn-container{
  position: absolute; // make two buttons stick at bottom right corner
  right:    0;
  bottom:   0;
  padding: 1rem;
}

.btn{
  border: none;
}